.vs/
x64/Debug/RetroPool.exe
RetroPool/x64/Debug/main.obj
RetroPool/x64/Debug/Player.obj
RetroPool/x64/Debug/RetroPool.ilk
RetroPool/x64/Debug/RetroPool.log
RetroPool/x64/Debug/SimpleFollow.obj
RetroPool/x64/Debug/vc143.idb
RetroPool/x64/Debug/vc143.pdb
RetroPool/x64/Debug/RetroPool.tlog/CL.command.1.tlog
RetroPool/x64/Debug/RetroPool.tlog/CL.read.1.tlog
RetroPool/x64/Debug/RetroPool.tlog/CL.write.1.tlog
RetroPool/x64/Debug/RetroPool.tlog/link.read.1.tlog
x64/Debug/RetroPool.pdb
x64/Debug/sfml-system-d-2.dll
x64/Debug/sfml-audio-d-2.dll
x64/Debug/sfml-graphics-d-2.dll
x64/Debug/sfml-network-d-2.dll
x64/Debug/sfml-window-d-2.dll
x64/Release/RetroPool.exe
x64/Release/RetroPool.pdb
RetroPool/x64/Release/RetroPool.tlog/CL.command.1.tlog
RetroPool/x64/Release/RetroPool.tlog/link.command.1.tlog
RetroPool/x64/Release/RetroPool.tlog/link.read.1.tlog
RetroPool/x64/Release/RetroPool.tlog/link.write.1.tlog
RetroPool/x64/Release/RetroPool.tlog/RetroPool.lastbuildstate
RetroPool/x64/Release/RetroPool.tlog/unsuccessfulbuild
x64/Debug/RetroPool.exe.lastcodeanalysissucceeded
RetroPool/x64/Debug/RetroPool.tlog/link.write.1.tlog
RetroPool/x64/Debug/RetroPool.tlog/RetroPool.lastbuildstate
RetroPool/x64/Release/RetroPool.exe.recipe
RetroPool/x64/Release/RetroPool.iobj
RetroPool/x64/Release/RetroPool.ipdb
RetroPool/x64/Release/RetroPool.log
RetroPool/x64/Release/vc143.pdb
RetroPool/x64/Debug/CodeAnalysisResultManifest.txt
RetroPool/x64/Debug/Main.nativecodeanalysis.sarif
RetroPool/x64/Debug/Main.nativecodeanalysis.xml
RetroPool/x64/Debug/mini_sorting_algorithm.obj
RetroPool/x64/Debug/NativeCodeAnalysis.read.1.tlog
RetroPool/x64/Debug/new project.obj
RetroPool/x64/Debug/RanderMap.obj
RetroPool/x64/Debug/RetroPool.exe.recipe
RetroPool/x64/Debug/TileBoard.obj
RetroPool/x64/Debug/TilePicker.obj
RetroPool/x64/Debug/vc.nativecodeanalysis.all.xml
RetroPool/x64/Debug/RetroPool.tlog/link.command.1.tlog
